:root {
  --page-height: 43em;
  --page-width: 75em;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(252, 247, 248, 1);
}

.introduce {
  width: 100%;
  height: calc(100vh - 80px);
}
.introduce-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.introduce-cat {
  grid-column: 2;
}

.slogan {
  grid-row: 1;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
.slogan p {
  font-size: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.show-product {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  background: rgba(56, 90, 66, 1);
}
.show-product-continer {
  grid-row: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30em;
  background: rgba(252, 247, 248, 1);
  overflow: hidden;
  position: relative;
}
.show-product-carousel {
  display: flex;
  width: 100%;
  height: 80%;
  background-color: rgb(206, 8, 8);
  position: absolute;
  left: 0px;
  align-items: center;
}
.show-product-carousel > figure {
  background-color: rgb(0, 0, 0);
  margin: 0 1em;
  border-radius: 10%;
}
.show-product-carousel-2 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: rgb(51, 8, 206);
  left: 0px;
  align-items: center;
}
.show-product-carousel-2 > figure {
  background-color: rgb(0, 0, 0);
  margin: 0em 1em;
  border-radius: 10%;
}

/* .Grid-row-wrapper :nth-child(6){
    color: black;
    position: absolute;
    text-decoration: none;
    font-size: 11em;
} */
/* .Grid-row-wrapper img{
    width: calc(var(--picture-width) - (8em));
    height: var(--picture-height);
    -webkit-mask-image: url(D:\使用者\powerrand\桌面\code\React-project\src\picture\make4.svg);
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
} */
